<!doctype html>
<html lang="es" ng-app="app_prueba_ikono">
<head>
  <meta charset="utf-8">
    <title>Revueltería Ikono</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="estilos.css">
</head>
<body ng-controller="controladorPrincipal as $pCtr">

  <div class="container">

    <h2 class="text-center display-4">Bienvenido a la revueltería iKono</h2>

    <div class="row">
      <!-- Se recorre la variable $pCtr.productos que contiene el total de productos para graficar la información -->
      <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="producto in $pCtr.productos">

        <div class="card text-center">
          <h5 class="card-title nombre-producto">{{producto.name}}</h5>
          <div class="contenedor-imagen">
            <img class="img-fluid" ng-src="{{producto.url}}" alt="{{producto.name}}">
          </div>
          <div class="card-body">
            <p class="card-text h4">${{producto.price}}</p>
            <!-- Se envia los datos del producto seleccionado a la funcion -->
            <button type="button" class="btn btn-outline-dark" ng-click="$pCtr.abrirModalProductos(producto)">Detalles</button>
          </div>
          <center>
          </center>
        </div>

      </div>
    </div>

    <!-- Modal que grafica el producto seleecionado -->
    <div class="modal fade" id="modalDeProductos" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{$pCtr.productoDetalles.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <img class="img-fluid" ng-src="{{$pCtr.productoDetalles.url}}" alt="{{$pCtr.productoDetalles.name}}">
            <h3>
              ${{$pCtr.productoDetalles.price}}
              <small class="text-muted">/ {{$pCtr.productoDetalles.unit}}</small>
            </h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="controlador.js"></script>

</body>
</html>
